.announcement-title {
    font-weight: 500;
}

.announcement-body {
    color: rgb(129, 129, 129);
    font-weight: 300;
}

.announcement-item {
    cursor: pointer;
}

.modal-60w {
    width: 60vw;
}

.smaller-footer {
    font-size: 85%;
}

.underline {
    text-decoration: underline;
}

.align-right {
    text-align: right;
}