body {
    margin: 0px;
}
.container {
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
    padding: 0px;
}

.panel {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.header {
    min-height: 50px;
    height: 300px;
    height: 100%;
    flex-grow: 3;
    overflow: hidden;
}

.body {
    flex-grow: 2;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.content {
    /* overflow: hidden; */
    flex-grow: 2;  
    padding: 1vw;
}

.customHandle {
    cursor: ns-resize;
    width: 60px;
    height: 4px;
    border: 2px solid rgb(227, 227, 227);
    z-index: 99990;
    border-radius: 25px;
    margin-left: -45px;
}

.customResizeBorder {
    cursor: ns-resize;
    height: 2px;
    background: rgb(227, 227, 227);
    overflow: visible;
    display: flex;
    align-items: center ;
    align-content: center ;
    justify-content: center;
    z-index: 99999;
}

.right-border {
    border-right: 2px solid rgb(227,227,227);
}